.color-palettes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

    @media only screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}

.color-palette {
    $self: &;

    border-radius: 6px;
    border: 1px solid rgb(33, 38, 45);
    background-color: rgb(13, 17, 23);

    &__name {
        padding: 1rem 2rem;
        margin: 0;
    }

    &__colors {
        border-radius: 6px;
        overflow: hidden;
        display: flex;
        height: 150px;
    }

    &__color {
        position: relative;
        width: 100%;
        transition: width .3s ease-in-out;
        cursor: pointer;

        &:hover {
            width: 200%;

            #{$self}__color-name {
                opacity: 1;
            }
        }
    }

    &__color-name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
        opacity: 0;
        transition: opacity .3s ease-in-out;
    }
}
